---
import MainLayout from "../layouts/Layout.astro";
import "@/styles/utils.css";

const title =
  "Romel Peralta - Ingeniero en Desarrollo de Software - CTO en Choya Tech - Especialista en Dise침o Web y Soluciones Digitales";
const description =
  "Soy Romel Peralta, Ingeniero en Desarrollo de Software y CTO en Choya Tech. Con una trayectoria en el dise침o y desarrollo de soluciones digitales, me especializo en crear experiencias web impactantes y funcionales. Mi enfoque combina las 칰ltimas tendencias en tecnolog칤a con un dise침o elegante y profesional, brindando soluciones personalizadas que cumplen con las necesidades de mis clientes. Apasionado por la innovaci칩n y la eficiencia, me dedico a transformar ideas en proyectos exitosos.";
const keywords =
  "Ingeniero en desarrollo de software, CTO en Choya.tech, Dise침o web profesional, Desarrollo web a medida, Especialista en dise침o UI/UX, Soluciones digitales innovadoras, Transformaci칩n digital, Experiencias web impactantes, Creaci칩n de proyectos web, Consultor칤a en tecnolog칤a, Servicios de desarrollo web, Tendencias en dise침o web, Eficiencia en desarrollo de software, Desarrollo de software a medida, Optimizaci칩n de experiencia de usuario, Interfaces modernas, Desarrollo frontend y backend, Estrategias de dise침o digital, Proyectos de innovaci칩n tecnol칩gica";

const author = "Romel Peralta";
const canonicalUrl = "https://www.romelperalta.com";
---

<MainLayout
  title={title}
  description={description}
  keywords={keywords}
  author={author}
  canonicalUrl={canonicalUrl}
>
  <div
    class="flex flex-col items-center justify-center h-screen text-white bg-neutral-900"
  >
    <h1 class="hidden">{title}</h1>
    <h2 class="hidden">{description}</h2>
    <div class="text-6xl grid font-bold">
      <span class="text-3xl">Hola! </span>Soy Romel Peralta.游녦
      <span class="text-2xl mt-4 font-thin">
        y soy desarrollador de software
      </span>
    </div>
  </div>
</MainLayout>
